<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="logDir" value="${LOG_DIR:-${user.dir}}"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="com.zachary.bifromq.basecluster" level="debug"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>